body{
    background-color: rgb(191, 139, 241);
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1{
    text-align: center;
}
figure{
    text-align:center;
}
h1{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
hr{
    border-color: black;
}

h1{
    background-color: rgb(255, 255, 255); 
    color: #000000 
}
a{
    background-color: aliceblue;
}